/*公共样式*/
body {
    width: 100%;
    height: 100%;
    background-color: #f3f5f9;
}
/*正则提示*/
.showc::-webkit-input-placeholder {
    color: #df1b19;
}
/*轮播图*/
.bigpic {
    width: 100%;
}
.bigpic img {
    float: left;
    width: 100%;
}
/*底部导航栏*/
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
    z-index: 999999999999999999999999;
}
.nav a {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    color: #666;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 75px;
    background: #fff url(../icon/grzx.png) no-repeat center;
    background-size: 25px;
    box-shadow: 1px 1px 5px #000;
}

/*copyright*/
.copyright {
    float: left;
    width: 100%;
    height: 45px;
    margin: 10px 0;
}
.copyright h1 {
    height: 15px;
    margin-top: 10px;
    color: #999;
    text-align: center;
    line-height: 15px;
}
.copyright h2 {
    height: 15px;
    margin-top: 5px;
    color: #999;
    text-align: center;
    line-height: 15px;
}

/*商城主页*/
.index {
    padding-bottom: 45px;
}
.index .index-bigpic {
    width: 100%;
}
.index .index-bigpic img {
    float: left;
    width: 100%;
}
.index .news {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.index .news strong {
    float: left;
    width: 13%;
    height: 75%;
    margin-top: 1.5%;
    padding: 0 2%;
    background: url(../icon/pic_toutiao.png) no-repeat center;
    background-size: 50%;
}
.index .news .swiper-containerNews {
    overflow: hidden;
    float: left;
    width: 59%;
    height: 45px;
    padding: 0 4%;
    border-left: 1px solid #e7e7e7;
}
.index .news .news-list {
    float: left;
    width: 100%;
    color: #666;
    font-size: 16px;
}
.index .news .news-list .swiper-slide {
    width: 100%;
    height: 45px;
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
}
.index .news .news-list .swiper-slide a {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    text-align: center;
}
.index .news a {
    float: left;
    width: 15%;
    height: 100%;
    background: url(../icon/icon_arrow_more.png) 81% 16.5px no-repeat;
    background-size: 12px;
    font-size: 14px;
    color: #666;
    text-align: left;
    line-height: 45px;
}
.index .goods {
    background-color: #fff;
}
.index .hot-exchange {
    float: left;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #e7e7e7;
    color: #df1b19;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}
.index .hot-exchange a {
    float: right;
    width: 18.9%;
    height: 35px;
    background: url(../icon/icon_arrow_more.png) 75% center no-repeat;
    background-size: 20%;
    color: #666;
    font-weight: normal;
    text-align: left;
}
.index .goods-con {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.index .goods-con li {
    float: left;
    width: 100%;
    border-bottom: 2px solid #e7e7e7;
}
.index .goods-con li:nth-child(2n+1) {
    float: left;
    border-right: 1px solid #e7e7e7;
}
.index .goods-con li a {
    float: left;
    width: 96%;
    padding: 3px 2%;
    color: #666;
}
.index .goods-con li a #picture {
    overflow-x: scroll;
    overflow-y: hidden;
    float: left;
    width: 100%;
    height: 150px;
    margin: 10px 0;
}
.index .goods-con li a #picture #content {
    width: 810px;
}
.index .goods-con li a #picture #content img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
.index .goods-con li a #picture #content img:nth-child(1) {
    margin-left: 0;
}
.index .goods-con li a h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 96%;
    height: 25px;
    padding: 0 2%;
    font-size: 16px;
    text-align: left;
    line-height: 25px;
}
.index .price {
    float: left;
    width: 100%;
    padding: 5px 0;
}
.index .price span {
    float: left;
    width: 45%;
    height: 30px;
    color: red;
    font-size: 12px;
    text-align: left;
}
.index .price h4 {
    height: 20px;
    padding-left: 30px;
    color: red;
    background: url(../icon/icon_jifen.png) no-repeat 3% 4px;
    background-size: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
}

/*个人中心页面*/
.pc {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
}
.pc .info {
    position: relative;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    background: #69eaff;
    color: #fff;
    box-shadow: 1px 1px 5px #000;
}
.pc .portrait {
    position: absolute;
    top: 20%;
    left: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #fff,
    -1px -1px 5px #fff;
}
.pc .name {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: absolute;
    top: 50px;
    left: 90px;
    width: 30%;
    color: #333;
    font-weight: bold;
    text-align: center;
}
.pc .more {
    position: absolute;
    top: 25%;
    right: 0;
    width: 15%;
    height: 60px;
    background: url(../icon/icon_arrow_right.png) no-repeat 70% center;
    background-size: 35%;
}
.pc .title {
    height: 45px;
    padding: 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #cbcbcc;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
}
.pc .order-nav {
    height: 45px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
}
.pc .order-nav li {
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 45px;
}
.pc .order-nav .on {
    color: #e2302e;
    border-bottom: 1px solid #e2302e;
}
.pc .content {
    position: fixed;
    overflow: scroll;
    top: 185px;
    bottom: 51px;
    width: 100%;
    margin-top: 10px;
    background-color: #f5f5f5;
}
.pc .content .con {
    display: none;
}
.pc .content .con ul li {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.pc .content .con ul li .status {
    float: left;
    height: 100%;
    padding: 0 2%;
    color: #e2302e;
    font-weight: bold;
    line-height: 35px;
}
.pc .content .con ul li .info {
    /*position: relative;*/
    float: left;
    width: 96%;
    height: auto;
    padding: 2%;
    margin-bottom: 0;
    background: #f5f5f5;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: none;
}
.pc .content .con ul li .info .store-name {
    overflow: hidden;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    box-shadow: 1px 1px 5px #999,
    -1px -1px 5px #999;
}
.pc .content .con ul li .info ul {
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
}
.pc .content .con ul li .info ul li {
    float: left;
    width: 94%;
    height: 35px;
    padding: 0 3%;
    line-height: 35px;
    margin-bottom: 5px;
    border-bottom: 0;
}
.pc .content .con ul li .info ul li em {
    float: left;
    height: 100%;
    color: #000;
}
.pc .content .con ul li .info ul li span {
    float: right;
    height: 100%;
    color: #000;
}
.pc .content .con ul li h4 {
    float: left;
    width: 100%;
    height: 35px;
    color: #999;
    background-color: #fff;
    margin-bottom: 10px;
    line-height: 35px;
    border-bottom: 1px solid #999;
}
.pc .content .con ul li h4 span {
    float: right;
    height: 100%;
    padding-right: 4%;
}
.pc .content .con ul li .combined {
    float: left;
    width: 100%;
    height: 40px;
    background: #fff url(../icon/icon_jifen.png) no-repeat 5px center;
    background-size: 13px;
    color: #e2302e;
    font-weight: bold;
    line-height: 40px;
    box-shadow: 1px 1px 5px #000;
}
.pc .content .con ul li .combined span {
    float: left;
    height: 100%;
    margin-left: 20px;
}

/*添加新地址*/
.add-address {
    background-color: #fff;
}
.add-address .address-info li {
    width: 94%;
    height: 30px;
    padding: 2% 3%;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}
.add-address .address-info .choose-area {
    background: #fff url(../icon/icon_arrow_more.png) no-repeat 95% center;
    background-size: 15px;
}
.add-address .address-info li .form-input-label {
    float: left;
    width: 20%;
    height: 100%;
    padding-left: 2%;
    text-align: left;
    line-height: 30px;
}
.add-address .address-info li .form-input {
    float: left;
    width: 72%;
    height: 100%;
    padding: 0 3%;
    text-align: left;
    line-height: 30px;
}
.add-address .address-info li .form-input input {
    float: left;
    width: 90%;
    height: 100%;
    border: 0;
    outline: none;
}
.add-address .address-info li:nth-child(3) {
    height: auto;
}
.add-address .address-info li:nth-child(3) .form-input-label {
    height: 100%;
    line-height: 20px;
}
.add-address .address-info li .form-textarea #detailed-address {
    float: left;
    width: 72%;
    height: 60px;
    padding: 0 3%;
    outline: none;
    border: none;
    resize: none;
}
.add-address .address-info li:nth-last-child(1) h1 {
    width: 98%;
    height: 100%;
    padding-left: 2%;
    line-height: 30px;
}
.add-address .address-info li:nth-last-child(1) h1 span {
    float: right;
    width: 40px;
    height: 26px;
    margin-right: 1%;
    border: 1px solid #d7d7d7;
    border-radius: 35px;
}
.add-address .address-info li:nth-last-child(1) h1 span em {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 1px 1px 0px 1px #d7d7d7;
}
.add-address .bigaddress {
    float: left;
    width: 100%;
    height: 100%;
}
.add-address .browser {
    float: left;
    width: 100%;
    height: 100%;
}
.add-address .express-area {
    float: left;
    width: 100%;
    height: 100%;
}
.add-address .express-area a {
    float: left;
    width: 100%;
    height: 100%;
}
.add-address .express-area dl {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    line-height: 30px;
}
.add-address .express-area dl dt {
    float: left;
    width: 20%;
    height: 100%;
    padding-left: 2%;
    text-align: left;
    line-height: 30px;
}
.add-address .express-area dl dd {
    overflow: hidden;
    float: left;
    width: 69%;
    height: 100%;
    padding: 0 3%;
    color: #A8A8A8;
    text-align: left;
    line-height: 30px;
}
.add-address .express-area dl input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7%;
    width: 62%;
    height: 100%;
    padding: 0 3%;
    border: 0;
    outline: none;
    opacity: 0;
}
/*选择地区弹层*/
.add-address .express-area-box {
    position: fixed;
    bottom: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    margin-left: 0;
    background-color: #fff;
    color: #4d525d;
    z-index: 15;
}
.add-address .express-area-box header {
    position: relative;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.add-address .express-area-box header h3 {
    margin: 10px auto;
    font-size: 16px;
    text-align: center;
}
.add-address .express-area-box article {
    height: 100%;
    overflow-y: scroll;
}
.add-address .area-list li {
    padding: 2%;
    border-bottom: 1px solid #e2e2e2;
    text-align: justify;
    font-size: 14px;
    line-height: 27px;
}
.add-address .mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.add-address .save {
    display: block;
    width: 50%;
    height: 40px;
    margin: 20px auto 0px;
    background-color: #1e89e0;
    border-radius: 40px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border: 0;
}
.add-address .mask-false {
    display: none;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    z-index: 99999;
}

/*页面不存在*/
.error {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../picture/error.png) no-repeat center 30%;
    background-size: 100%;
}
.error h1 {
    position: absolute;
    top: 58%;
    left: 0;
    right: 0;
    color: #999;
    font-size: 18px;
    text-align: center;
}
@media (max-height:480px) {
    .error h1 {
        top: 62%;
    }
}

/*商品结算页面*/
.goods-settlement {
    padding-bottom: 46px;
    background-color: #fff;
}
.goods-settlement .address {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}
.goods-settlement .address h1 {
    height: 40px;
    padding: 0 3%;
    color: #000;
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
.goods-settlement .address div {
    height: 35px;
    padding: 0 3%;
    margin-bottom: 10px;
}
.goods-settlement .address div label {
    float: left;
    height: 100%;
    line-height: 35px;
}
.goods-settlement .address div .name-input {
    float: left;
    width: 70%;
    height: 25px;
    margin-top: 5px;
    margin-left: 34px;
    outline: none;
    line-height: 25px;
}
.goods-settlement .address div .tel-input {
    float: left;
    width: 70%;
    height: 25px;
    margin-left: 34px;
    margin-top: 5px;
    outline: none;
    line-height: 25px;
}
.goods-settlement .address div .address-input {
    float: left;
    width: 70%;
    margin-left: 6px;
    height: 25px;
    color: #666;
    outline: none;
    text-align: left;
    margin-top: 5px;
    line-height: 25px;
}
.goods-settlement .content {
    float: left;
    width: 100%;
}
.goods-settlement .content .info {
    float: left;
    width: 96%;
    padding: 2%;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.goods-settlement .content .info .name {
    overflow: hidden;
    width: 100%;
    height: 30px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    border-bottom: 1px dashed #999;
}
.goods-settlement .content .info ul li {
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    box-shadow: 0px 1px #999;
}
.goods-settlement .content .info ul li span {
    float: right;
    height: 100%;
    color: #999;
}
.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    border-top: 1px solid #e7e7e7;
    background-color: #fff;
    z-index: 999;
}
.goods-settlement .nav-bottom h1 {
    float: left;
    width: 68%;
    height: 45px;
    padding-right: 2%;
    color: #666;
    text-align: right;
    line-height: 45px;
}
.goods-settlement .nav-bottom h1 span {
    float: right;
    height: 100%;
    margin-left: 2%;
    padding-left: 7%;
    background: url(../icon/icon_jifen.png) no-repeat 0 50%;
    background-size: 15px;
    color: #df1b19;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}
.goods-settlement .nav-bottom button {
    float: right;
    width: 30%;
    height: 45px;
    background-color: #69eaff;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    outline: none;
    border: 0;
}

/*支付成功*/
.payfor-success {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f3f5f9 url(../icon/zfcg_bg.png) no-repeat bottom;
    background-size: 100%;
}
.payfor-success h1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: #fff url(../icon/zfcg_tick.png) no-repeat center 40%;
    background-size: 60%;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
}
.payfor-success .payfor-details {
    position: fixed;
    top: 42%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 260px;
    height: 50px;
    background-color: #1e89e0;
    border-radius: 45px;
    box-shadow: 0px 3px rgba(92, 59, 9, 0.2);
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
.payfor-success .shopping {
    position: fixed;
    top: 52%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 256px;
    height: 46px;
    background-color: #f3f5f9;
    border: 2px solid #666;
    border-radius: 45px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
}
@media (max-height:480px) {
    .payfor-success h1 {
        line-height: 300px;
    }
    .payfor-success .shopping {
        top: 55%;
    }
}

/*订单详情*/
.order-details {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f3f5f9;
}
.order-details .order-state img {
    float: left;
    width: 100%;
}
.order-details .logistics-state {
    padding: 5px 25px 5px 53px;
    background: #fff url(../icon/icon_kuaidi_dianji.png) no-repeat 15px center;
    background-size: 25px;
    border-bottom: 1px solid #e7e7e7;
}
.order-details .logistics-state a {
    float: left;
    width: 100%;
    height: 45px;
    background: url(../icon/icon_arrow_right.png) no-repeat right center;
    background-size: 20px;
}
.order-details .logistics-state a h1 {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 88%;
    height: 50%;
    color: #23ae5d;
    line-height: 30px;
}
.order-details .logistics-state a h2 {
    overflow: hidden;
    width: 90%;
    height: 50%;
    color: #999;
    font-size: 12px;
    line-height: 23px;
}
.order-details .order-address {
    padding: 5px 25px 5px 53px;
    background: #fff url(../icon/address2.png) no-repeat 15px center;
    background-size: 25px;
    border-bottom: 1px solid #e7e7e7;
    color: #666;
}
.order-details .order-address h1 {
    padding-bottom: 5px;
}
.order-details .order-address h1 span {
    float: left;
}
.order-details .order-address h1 strong {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
    width: 43%;
}
.order-details .order-address h1 em {
    float: right;
    margin-right: 11px;
}
.order-details .order-address h2 {
    overflow: hidden;
    height: 40px;
    line-height: 20px;
}
.order-details .order-info {
    padding: 10px 0;
    background-color: #f3f5f9;
}
.order-details .order-info li {
    border-bottom: 1px solid #e7e7e7;
}
.order-details .order-info li .info {
    position: relative;
    float: left;
    width: 96%;
    padding: 2%;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.order-details .order-info li .info .pic {
    float: left;
    width: 85px;
    height: 85px;
}
.order-details .order-info li .info .pic img {
    float: left;
    width: 100%;
    height: 100%;
}
.order-details .order-info li .info .name {
    position: absolute;
    overflow: hidden;
    top: 8px;
    left: 27%;
    width: 60%;
    height: 40px;
    color: #333;
    text-align: left;
    line-height: 20px;
}
.order-details .order-info li .info .num-of {
    position: absolute;
    top: 45px;
    right: 1%;
    width: 10%;
    color: #333;
    font-size: 14px;
    text-align: left;
}
.order-details .order-info li .info .num-of span {
    margin-left: 7%;
}
.order-details .order-info li .info .pay-for {
    position: absolute;
    top: 70px;
    left: 26%;
    width: 50%;
    height: 25px;
    padding-left: 7%;
    background: url(../icon/icon_jifen.png) no-repeat 2% 5px;
    background-size: 15px;
    color: #df1b19;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
}
.order-details .order-info li .info .type {
    position: absolute;
    overflow: hidden;
    top: 52px;
    left: 27%;
    width: 57%;
    height: 16px;
}
.order-details .order-info li .info .type h1 {
    float: left;
    overflow: hidden;
    margin-right: 10px;
    background: none;
    color: #666;
    font-size: 12px;
}
.order-details .order-info li h4 {
    float: left;
    width: 98%;
    height: 35px;
    padding-left: 2%;
    background-color: #fff;
    color: #999;
    line-height: 35px;
}
.order-details .order-info li h4 span {
    float: right;
    height: 100%;
    padding-right: 4%;
}
.order-details .order-info li h4 span em {
    float: right;
    padding-left: 20px;
    background: url(../icon/icon_jifen.png) no-repeat 5px center;
    background-size: 13px;
    color: #e2302e;
}
.order-details .order-serial {
    background-color: #f3f5f9;
    color: #666;
    font-size: 12px;
    box-shadow: 0px 1px #e7e7e7;
}
.order-details .order-serial li {
    padding: 0 15px;
    background-color: #fff;
}
.order-details .order-serial li:nth-child(1) {
    padding-top: 10px;
}
.order-details .order-serial li:nth-last-child(1) {
    padding-bottom: 10px;
}
.order-details .order-serial .customer-message {
    padding: 5px 15px;
    background-size: 25px;
    color: #666;
}
.order-details .order-serial .customer-message h1 {
    float: left;
}
.order-details .order-serial .customer-message h1 em {
    float: right;
    width: 82%;
}
@media (max-width:320px) {
    .order-details .order-address h1 strong {
        width: 37%;
    }
    .order-details .order-address h1 em {
        margin-right: 0px;
    }
    .order-details .order-info li .info .name {
        top: 5px;
        left: 30%;
        width: 53%;
    }
    .order-details .order-info li .info .num-of {
        right: 3%;
    }
    .order-details .order-info li .info .type {
        overflow: hidden;
        top: 48px;
        left: 30%;
        width: 50%;
    }
    .order-details .order-info li .info .pay-for {
        top: 67px;
        left: 29%;
        width: 45%;
    }
    .order-details .order-serial .customer-message h1 em {
        width: 79%;
    }
}
@media (min-width:321px) and (max-width:360px) {
    .order-details .order-serial .customer-message h1 em {
        width: 81.8%;
    }
}
@media (min-width:412px) {
    .order-details .order-serial .customer-message h1 em {
        width: 84%;
    }
}

/*查看物流*/
.logistics {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.logistics .state {
    position: relative;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.logistics .state .pic {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 55px;
    height: 55px;
    border: 1px solid #e7e7e7;
}
.logistics .state .pic img {
    float: left;
    width: 100%;
    height: 100%;
}
.logistics .state h1 {
    position: absolute;
    top: 12px;
    left: 80px;
    color: #333;
}
.logistics .state h1 em {
    float: right;
    height: 100%;
    margin-left: 8px;
}
.logistics .state h2 {
    position: absolute;
    top: 32px;
    left: 80px;
    color: #999;
    font-size: 13px;
}
.logistics .state h3 {
    position: absolute;
    top: 50px;
    left: 80px;
    color: #999;
    font-size: 13px;
}
.logistics .content {
    padding-top: 10px;
    background-color: #e7e7e7;
}
.logistics .content h4 {
    height: 35px;
    padding-left: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    color: #333;
    font-weight: bold;
    line-height: 35px;
}
.logistics .content .info {
    padding: 20px 7% 20px;
    background-color: #fff;
    color: #999;
}
.logistics .content .info li {
    position: relative;
    border-left: 1px solid #e7e7e7;
}
.logistics .content .info li em {
    position: absolute;
    top: 10px;
    left: -8px;
    width: 15px;
    height: 15px;
    background-color: #e7e7e7;
    border-radius: 50%;
}
.logistics .content .info li:nth-child(1) {
    color: #23ae5d;
}
.logistics .content .info li:nth-child(1) em {
    position: absolute;
    top: 0;
    left: -8px;
    width: 15px;
    height: 15px;
    background-color: #23ae5d;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgba(35, 174, 93, 0.5);
}
.logistics .content .info li h5 {
    padding: 2% 10%;
}
.logistics .content .info li:nth-child(1) h5 {
    padding: 0 10% 2% 10%;
}
.logistics .content .info li h6 {
    padding: 0 10% 2% 0;
    margin-left: 10%;
    border-bottom: 1px solid #e7e7e7;
}
.logistics .content .info li:nth-last-child(1) h6 {
    border-bottom: 0;
}

/*我的收藏*/
.my-collection {
    padding: 46px 0 95px 0;
    background-color: #fff;
}
.my-collection .batch-delete {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-bottom: 1px solid #bfbfbf;
    color: #999;
    z-index: 999;
    line-height: 45px;
}
.my-collection .batch-delete span {
    float: left;
    height: 100%;
    padding-left: 4%;
}
.my-collection .batch-delete span em {
    color: #df1b19;
    font-weight: bold;
}
.my-collection .batch-delete strong {
    float: right;
    height: 100%;
    padding: 0 4% 0 7%;
    background: url(../icon/icon_qingkong.png) no-repeat 5% center;
    background-size: 20%;
}
.my-collection .delete-mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.my-collection .delete-mask .delete-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
}
.my-collection .delete-mask .delete-list em {
    color: #e2302e;
}
.my-collection .delete-mask .delete-list .cancel-delete {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 40px;
    box-shadow: 1px -1px #e7e7e7;
    color: #535353;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
}
.my-collection .delete-mask .delete-list .confirm-delete {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 40px;
    box-shadow: 0px -1px #e7e7e7;
    color: #e2302e;
    font-weight: normal;
    text-align: center;
    line-height: 40px;
}
.my-collection .delete-prompt {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    z-index: 999;
}
.my-collection .content {
    width: 100%;
}
.my-collection .content .list {
    position: relative;
    width: 100%;
    height: 93px;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.my-collection .content .list .choose {
    float: left;
    width: 10%;
    height: 100%;
}
.my-collection .content .list .choose .sel-red1 {
    background: url(../icon/icon_xuanzhong.png) no-repeat center;
    background-size: 100%;
}
.my-collection .total-price .all-choose .sel-red {
    background: url(../icon/icon_xuanzhong.png) no-repeat center;
    background-size: 100%;
}
.my-collection .content .list .choose em {
    float: left;
    width: 17px;
    height: 17px;
    margin: 40px 0 0 9px;
    border-radius: 50%;
    background-color: #e7e7e7;
}
.my-collection .content .list a {
    float: left;
    width: 90%;
    height: 100%;
}
.my-collection .content a img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 5px 3% 5px 1%;
    border: 1px solid #e7e7e7;
}
.my-collection .content a h2 {
    overflow: hidden;
    float: left;
    width: 65%;
    height: 40px;
    margin-top: 12px;
    font-size: 14px;
}
.my-collection .content a h4 {
    float: left;
    width: 50%;
    height: 27px;
}
.my-collection .content a h4 .price {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left;
    height: 27px;
    padding-left: 20px;
    background: url(../icon/icon_jifen.png) no-repeat 0px center;
    background-size: 15px;
    color: #df1b19;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
}
.my-collection .none-mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../icon/pic_kong.png) no-repeat center 30%;
    background-size: 40%;
}
.my-collection .none-mask span {
    display: block;
    margin-top: 75%;
    color: #999;
    font-size: 18px;
    text-align: center;
}
.my-collection .none-mask a {
    float: left;
    width: 50%;
    height: 45px;
    margin: 5% 25% 0;
    box-shadow: 0px 3px rgba(92, 59, 9, 0.2);
    background-color: #1e89e0;
    border-radius: 20px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}
.my-collection .total-price {
    position: fixed;
    bottom: 51px;
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
}
.my-collection .total-price .all-choose {
    float: left;
    width: 100%;
    height: 100%;
    text-indent: 10px;
    text-align: left;
    line-height: 45px;
}
.my-collection .total-price .all-choose em {
    float: left;
    width: 17px;
    height: 17px;
    margin: 15px 0 0 9px;
    border-radius: 50%;
    background-color: #e7e7e7;
}
@media (max-width:320px) {
    .my-collection .content img {
        width: 75px;
        height: 75px;
        margin: 7px 10px 7px 5px;
    }
}
@media (max-height:480px) {
    .my-collection .none-mask span {
        margin: 65% auto 0;
        font-size: 16px;
    }
}

/*店铺页面*/
.store .header-name {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    color: #000;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}
.store .header {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 150px;
    z-index: 999;
}
.store .header .store-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.store .tab {
    position: absolute;
    overflow: scroll;
    top: 190px;
    left: 0;
    bottom: 90px;
    width: 25%;
    background: #f4f4f4;
    box-shadow: 0px -1px 5px #999;
}
.store .tab li {
    overflow: hidden;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}
.store .tab .on {
    background-color: #fff;
    border-left: 3px solid #1e89e0;
}
.store .tabcon {
    position: absolute;
    overflow: scroll;
    top: 190px;
    left: 25%;
    right: 0;
    bottom: 90px;
    width: 75%;
    background-color: #fff;
    box-shadow: 0px -1px 5px #999;
}
.store .tabcon li {
    display: none;
    width: 96%;
    padding: 5px 2% 10px;
}
.store .tabcon .on2 {
    display: block;
}
.store .tabcon li .tabcon-list {
    position: relative;
    float: left;
    width: 96%;
    padding: 5px 2%;
    height: 50px;
    box-shadow: 1px 1px 5px #cbcbcc;
}
.store .tabcon li .tabcon-list .food-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    width: 50px;
    height: 50px;
}
.store .tabcon li .tabcon-list .food-name {
    position: absolute;
    top: 5px;
    left: 60px;
    height: 25px;
    font-weight: bold;
    line-height: 25px;
}
.store .tabcon li .tabcon-list .food-price {
    position: absolute;
    bottom: 5px;
    left: 60px;
    height: 20px;
    color: #f00;
    line-height: 20px;
}
.store .tabcon li .tabcon-list .food-num-choose {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 75px;
    height: 20px;
}
.store .tabcon li .tabcon-list .food-num-choose .reduce-num {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../icon/reduce-num.png) no-repeat center;
    background-size: 20px 20px;
}
.store .tabcon li .tabcon-list .food-num-choose .food-num {
    float: left;
    width: 35px;
    height: 20px;
    border: 0;
    outline: none;
    text-align: center;
    line-height: 20px;
}
.store .tabcon li .tabcon-list .food-num-choose .add-num {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../icon/add-num.png) no-repeat center;
    background-size: 20px 20px;
}
.store .total {
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: 45px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #999;
}
.store .total .total-price {
    float: left;
    width: 180px;
    height: 100%;
    padding-left: 20px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
}
.store .total .clearing {
    float: right;
    width: 100px;
    height: 100%;
    color: #fff;
    border: 0;
    background-color: #1e89e0;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    box-shadow: 1px 1px 5px #999;
}
/*新闻列表页*/
#news {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f3f5f9;
}
.news li {
    padding: 12px 12px 0 12px;
    margin-bottom: 15px;
    background-color: #fff;
    border-bottom: 15px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.news li h1 {
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 21px;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}
.news li h2 {
    padding: 5px 0;
    color: #999;
    font-size: 12px;
}
.news li h3 {
    overflow: hidden;
    height: 77px;
}
.news li a {
    display: block;
    height: 40px;
    margin-top: 10px;
    border-top: 1px solid #e7e7e7;
    background: url(../icon/icon_arrow_right.png) no-repeat 98% center;
    background-size: 15px;
    line-height: 40px;
}
#news h4 {
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}

/*新闻详情页*/
.news-details {
    padding: 12px;
}
.news-details h1 {
    font-size: 16px;
    font-weight: bold;
}
.news-details h2 {
    margin: 10px 0;
    color: #999;
}
.news-details div {
    padding-top: 20px;
    border-top: 1px solid #e7e7e7;
}